<!-- Wrapper -->
<div id="wrapper">

    <!-- Banner -->
    <section id="banner" class="major"
        style="background-image: url('https://p4.wallpaperbetter.com/wallpaper/284/713/172/background-macro-minimalistic-nature-wallpaper-preview.jpg');">
        <div class="inner">
            <header class="major">
                <h1>PlantEnd</h1>
            </header>
            <div class="content">
                <p>An innovative way to take care of your plants.</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">Get Started</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one" class="tiles">
            <article>
                <span class="image">
                    <img src="images/pic01.jpg" alt="" />
                </span>
                <header class="major">
                    <h3><a href="/signin" class="link">Find It</a></h3>
                    <p>Just upload a photo of your plant and let the power of deep learning identify it.</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="images/pic02.jpg" alt="" />
                </span>
                <header class="major">
                    <h3><a href="/signin" class="link">Understand It</a></h3>
                    <p>Get all the information you need to know to grow your plant.</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="images/pic03.jpg" alt="" />
                </span>
                <header class="major">
                    <h3><a href="/signin" class="link">Automate It</a></h3>
                    <p>IoT give you the opportunity to control the watering and light incidence when you are away.</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="images/pic04.jpg" alt="" />
                </span>
                <header class="major">
                    <h3><a href="/signin" class="link">Make It a Business</a></h3>
                    <p>With all the technology, earn money is easier than ever, you can start a plant shop or become an
                        expert gardener.</p>
                </header>
            </article>
        </section>

        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>Keep It Simple</h2>
                </header>
                <p>An intuitive and easy to use platform that give you the knowledge and control you need. Save time and
                    effort while you are confident that all your plants have the best possible growing conditions.</p>
                <ul class="actions">
                    <li><a href="/signin" class="button next">Log In</a></li>
                </ul>
            </div>
        </section>

    </div>

    {{{footer}}}

</div>

<script>
    if (localStorage.getItem("token") != null) {
        try {
            let jwt_decoded = jwt_decode(localStorage.getItem("token"));
            document.querySelector("#header_name").innerHTML = `Welcome! ${jwt_decoded.name}`
        } catch (e) {
            console.log("JWT Error")
        }
    }
</script>